{% extends "base.html" %}

{% block title %}Enter you AWS credentials{% endblock title %}
{% block h1 %}Enter you AWS credentials{% endblock h1 %}

{% block container %}
<div class="well">
    <h2>Credentials</h2>
    <form class="form-horizontal" action="{% url 'accounts_aws_connect_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="inputKey" class="col-sm-2 control-label">Key</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputKey" name="key" value="{{ request.user.account.aws_access_key_id|default:'' }}" required>
            </div>
        </div>
        <div class="form-group">
            <label for="inputSecret" class="col-sm-2 control-label">Secret</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="inputSecret" name="secret" value="{{ request.user.account.aws_secret_access_key|default:'' }}" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <center>
                    <button type="submit" class="btn btn-primary btn-lg">Save</button>
                </center>
            </div>
        </div>
    </form>
</div>
{% endblock container %}