{% extends "base.html" %}

{% block title %}Invitation{% endblock title %}
{% block h1 %}Invitation{% endblock h1 %}

{% block container %}
<div class="well">
    <h2>Credentials</h2>
    {% if request.GET.success == '1' %}
    <div class="alert alert-success" role="alert">Invitation successfully sent</div>
    {% elif request.GET.success == '0' %}
    <div class="alert alert-danger" role="alert">This user has already been invited</div>
    {% endif %}
    <form class="form-horizontal" action="{% url 'accounts_invite_post' %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="email" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="email" name="email" value="" required>
            </div>
        </div>
        <div class="form-group">
            <label for="message" class="col-sm-2 control-label">Message</label>
            <div class="col-sm-10">
                <textarea class="form-control materialize-textarea" id="message" name="message"></textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="send" class="col-sm-2 control-label">Send email</label>
            <div class="col-sm-10">
                <select class="form-control" id="send" name="send">
                    <option value="yes">Yes</option>
                    <option value="no">No</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <center>
                    <button type="submit" class="btn btn-primary btn-lg">Invite now</button>
                </center>
            </div>
        </div>
    </form>
</div>
{% endblock container %}