{% extends "base.html" %}

{% block title %}Graph visualization • {{ visualization.name }}{% endblock title %}
{% block h1 %}{{ visualization.name }} > Graph{% endblock h1 %}

{% block breadcrumbs_nav %}
<ol class="breadcrumb">
    <li><a href="{% url 'visualizations_index' %}">Visualizations</a></li>
    <li><a href="{% url 'visualizations_show' visualization.id %}">{{ visualization.name }}</a></li>
    <li class="active">Graph</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
<div class="well">
    <div id="table_div" style="width: 500px; height: 500px"></div>
</div>
<div class="well">
    <h2>New query</h2>
    <form class="form-horizontal" action="{% url 'visualizations_graph_update' visualization.id %}" method="post">
        {% csrf_token %}
        {% if dashboard %}<input class="hidden" name="dashboard" value="{{ dashboard.id }}">{% endif %}
        <div class="form-group">
            <label for="inputType" class="col-sm-2 control-label">Type</label>
            <div class="col-sm-10">
                <select class="form-control" id="inputType" name="chart_type">
                    <option value="Table" {% if visualization.graph.chart_type == 'Table' %}selected{% endif %}>Table</option>
                    <option value="LineChart" {% if visualization.graph.chart_type == 'LineChart' %}selected{% endif %}>LineChart</option>
                    <option value="PieChart" {% if visualization.graph.chart_type == 'PieChart' %}selected{% endif %}>PieChart</option>
                    <option value="BarChart" {% if visualization.graph.chart_type == 'BarChart' %}selected{% endif %}>BarChart</option>
                    <option value="ColumnChart" {% if visualization.graph.chart_type == 'ColumnChart' %}selected{% endif %}>ColumnChart</option>
                    <option value="TreeMap" {% if visualization.graph.chart_type == 'TreeMap' %}selected{% endif %}>TreeMap</option>
                    <option value="ComboChart" {% if visualization.graph.chart_type == 'ComboChart' %}selected{% endif %}>ComboChart</option>
                    <option value="calendar" {% if visualization.graph.chart_type == 'calendar' %}selected{% endif %}>calendar</option>
                </select>
            </div>
        </div>
        <div class="form-group">
            <label for="inputOptions" class="col-sm-2 control-label">Options</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputOptions" name="options">{{ visualization.graph.options|default:'' }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <label for="inputMap" class="col-sm-2 control-label">Map Script</label>
            <div class="col-sm-10">
                <textarea class="form-control" id="inputMap" name="map_script">{{ visualization.graph.map_script|default:'' }}</textarea>
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">Save</button>
            </div>
        </div>
    </form>
</div>
{% endblock container %}

{% block javascripts %}
{{ block.super }}
<script type="text/javascript">
    function buildDataTable(s3URL, callback){
        $.ajax({
            url: s3URL,
            success: function(data){
                callback(data.rows);
            }
        });
    }
    var url;
    google.load('visualization', '1.1', {'packages':['table']});
    google.setOnLoadCallback(drawChart);
    function drawChart() {
        $.ajax({
            url: '{% url 'visualizations_execute' visualization.id %}',
            success: function(data){
                console.log(data);
                url = data.url;
                buildDataTable(url, function(array){
                    if (array[0]) {
                        var headers = array[0];
                        headers.forEach(function(h, _i){
                            if (typeof h == 'object' && h.type && h.type == 'date') {
                                array.forEach(function(row, _j){
                                    if (_j > 0) {
                                        if (typeof array[_j][_i] == 'object') {
                                            array[_j][_i].v = new Date(array[_j][_i].v);
                                        } else {
                                            array[_j][_i] = new Date(array[_j][_i]);
                                        }
                                    }
                                });
                            }
                        });
                    }
                    var options = {
                        width: '100%',
                        height: '100%'
                    };
                    new google.visualization.Table(document.getElementById('table_div')).draw(google.visualization.arrayToDataTable(array), options);
                });
            },
            error: function(err){
                $('#table_div').html(err.responseJSON.error.message);
            }
        });
    }
</script>
{% endblock javascripts %}