{% extends "base.html" %}

{% block breadcrumbs_nav %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_horiz</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'visualizations_export_all' %}">Export</a></li>
            <li><a href="{% url 'visualizations_import' %}">Import</a></li>
            <li><a href="{% url 'visualizations_new' %}">New</a></li>
        </ul>
    </div>
</div>
<ol class="breadcrumb">
    <li class="active">Visualizations</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
<div class="row">
    {% for visualization in visualizations %}
    <div class="col-md-4">
        <a class="well" href="{% url 'visualizations_show' visualization.id %}">
            {{ visualization.name }}
        </a>
    </div>
    {% endfor %}
</div>
{% endblock container %}