{% extends "base.html" %}

{% block title %}All viualizations{% endblock title %}
{% block h1 %}All viualizations{% endblock h1 %}

{% block breadcrumbs_nav %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_horiz</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'visualizations_export_all' %}">Export</a></li>
            <li><a href="{% url 'visualizations_import' %}">Import</a></li>
            <li><a href="{% url 'visualizations_new' %}">New</a></li>
        </ul>
    </div>
</div>
<ol class="breadcrumb">
    <li class="active">Visualizations</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
<div class="well">
    <h2>{{ visualizations|length }} active visualizations</h2>
    <div class="list-group">
        {% for visualization in visualizations %}
        <a href="{% url 'visualizations_show' visualization.id %}" class="list-group-item">
            <div class="row">
                <div class="col-md-6">{{ visualization.name }}</div>
                <div class="col-md-4">{% if visualization.dashboards_count %}{{ visualization.dashboards_count }} dashboards{% endif %}</div>
                <div class="col-md-2">{{ visualization.entities_count }}</div>
            </div>
        </a>
        {% endfor %}
    </div>
</div>
{% endblock container %}