{% extends "base.html" %}

{% load pipeline %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
{% stylesheet 'dashboards_play' %}
{% endblock stylesheets %}

{% block title %}Visualization • {{ visualization.name }}{% endblock title %}
{% block h1 %}{{ visualization.name }}{% endblock h1 %}

{% block breadcrumbs_nav %}
{% if request.user.is_staff %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_horiz</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="{% url 'visualizations_duplicate' visualization.id %}">Duplicate</a></li>
            <li><a href="{% url 'visualizations_export' visualization.id %}">Export</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'visualizations_remove' visualization.id %}">Remove</a></li>
        </ul>
    </div>
</div>
{% endif %}
<ol class="breadcrumb">
    <li><a href="{% url 'visualizations_index' %}">Visualizations</a></li>
    <li class="active">{{ visualization.name }}</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
{% if relative_dashboards|length > 0 %}
<h2>Dashboards</h2>
<div class="row">
    {% for dashboard in relative_dashboards %}
    <div class="col-lg-3 col-md-4 col-sm-2">
        <a class="well" href="{% url 'dashboards_play' dashboard.slug %}">{{ dashboard.name }}</a>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div class="well chart dashboard-entity">
            <h2>Table</h2>
            <div class="overflow" style="height: 420px;">
                <div id="table_div"></div>
            </div>
        </div>
    </div>
    {% include "visualizations/_play.html" with size='col-md-6' %}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2>Query</h2>
            <pre><code class="sql">{{ visualization.query.script|linebreaks }}</code></pre>
        </div>
    </div>
</div>
{% if visualization.graph.map_script %}
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2>Map script</h2>
            <pre><code class="javascript">{{ visualization.graph.map_script|linebreaks }}</code></pre>
        </div>
    </div>
</div>
{% endif %}
{% endblock container %}

{% block javascripts %}
{{ block.super }}
{% include "dashboards/_play_js.html" %}
{% endblock javascripts %}