{% extends "base.html" %}

{% load pipeline %}

{% block stylesheets %}
{{ block.super }}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/8.9.1/styles/github.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/css/selectize.css">
{% stylesheet 'dashboards_play' %}
{% endblock stylesheets %}

{% block title %}Visualization • {{ visualization.name }}{% endblock title %}
{% block h1 %}{{ visualization.name }}{% endblock h1 %}

{% block breadcrumbs_nav %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_horiz</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            <li><a href="#" id="schedule">Schedule</a></li>
            {% if request.user.is_staff %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'visualizations_duplicate' visualization.id %}">Duplicate</a></li>
            <li><a href="{% url 'visualizations_export' visualization.id %}">Export</a></li>
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'visualizations_remove' visualization.id %}">Remove</a></li>
            {% endif %}
        </ul>
    </div>
</div>
{% if request.user.is_staff %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">link</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% for dashboard in all_dashboards %}
            <li><a href="{% url 'visualizations_quick_add_to_dashboard' visualization.id dashboard.id %}">{{ dashboard.name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</div>
{% endif %}
<ol class="breadcrumb">
    <li><a href="{% url 'visualizations_index' %}">Visualizations</a></li>
    <li class="active">{{ visualization.name }}</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
{% if relative_dashboards|length > 0 %}
<h2>Dashboards</h2>
<div class="row">
    {% for dashboard in relative_dashboards %}
    <div class="col-lg-3 col-md-4 col-sm-2">
        <a class="well" href="{% url 'dashboards_play' dashboard.slug %}">{{ dashboard.name }}</a>
    </div>
    {% endfor %}
</div>
{% endif %}
<div class="row">
    <div class="col-md-6">
        <div class="well chart dashboard-entity">
            <h2>Table</h2>
            <div class="overflow" style="height: 420px;">
                <div id="table_div"></div>
            </div>
        </div>
    </div>
    {% include "visualizations/_play.html" with size='col-md-6' %}
</div>
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2>Query</h2>
            <pre><code class="sql">{{ visualization.query.script|linebreaks }}</code></pre>
        </div>
    </div>
</div>
{% if visualization.graph.map_script %}
<div class="row">
    <div class="col-md-12">
        <div class="well">
            <h2>Map script</h2>
            <pre><code class="javascript">{{ visualization.graph.map_script|linebreaks }}</code></pre>
        </div>
    </div>
</div>
{% endif %}
{% endblock container %}

{% block javascripts %}
{{ block.super }}
<script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.12.1/js/standalone/selectize.min.js"></script>
{% include "dashboards/_play_js.html" %}
<script>
function newModal(title, body, footer, size){
    var size = size || 'lg';
    var modal = $('<div>').attr('class', 'modal fade');
    var modalDialog = $('<div>').attr('class', 'modal-dialog').addClass('modal-' + size);
    var modalContent = $('<div>').attr('class', 'modal-content');
    var modalHeader = $('<div>').attr('class', 'modal-header');
    var closeButton = $('<button>').attr('class', 'close').attr('aria-label', 'Close').attr('data-dismiss', 'modal').append($('<span>').attr('aria-hidden', 'true').html('&times;'));
    var modalTitle = $('<h4>').attr('class', 'modal-title').html(title);
    var modalBody = $('<div>').attr('class', 'modal-body').append(body);
    modalHeader.append(closeButton);
    modalHeader.append(modalTitle);
    modalContent.append(modalHeader);
    modalContent.append(modalBody);
    modalDialog.append(modalContent);
    if (typeof footer != 'undefined' && footer) {
        var modalFooter = $('<div>').attr('class', 'modal-footer').html(footer);
        modalContent.append(modalFooter);
    }
    modal.append(modalDialog);
    modal.modal();
    return modal;
}
$('#schedule').click(function(){
    var l1 = $('<label>').attr('class', 'col-sm-2 control-label').html('Email');
    var i1 = $('<div>').attr('class', 'col-sm-10').append($('<input>').attr('type', 'email').attr('class', 'form-control').attr('name', 'email').attr('value', '{{ request.user.email }}'));
    var r1 = $('<div>').attr('class', 'form-group').append(l1).append(i1);

    var l2 = $('<label>').attr('class', 'col-sm-2 control-label').html('Time');
    var s2 = $('<select>').attr('class', 'form-control').attr('name', 'time');
    [['morning', 'Morning (8am)'], ['afternoon', 'Afternooon (2pm)'], ['evening', 'Evening (6pm)']].forEach(function(val){
        s2.append($('<option>').attr('value', val[0]).html(val[1]));
    });
    var i2 = $('<div>').attr('class', 'col-sm-10').append(s2);
    var r2 = $('<div>').attr('class', 'form-group').append(l2).append(i2);

    var l3 = $('<label>').attr('class', 'col-sm-2 control-label').html('Frequency');
    var s3 = $('<select>').attr('class', 'form-control').attr('name', 'frequency');
    //s3.append($('<option>').attr('disabled', 'disabled').attr('selected', 'selected').html('Select an option'));
    [['daily', 'Daily'], ['weekly', 'Weekly'], ['monthly', 'Monthly']].forEach(function(val){
        s3.append($('<option>').attr('value', val[0]).html(val[1]));
    });
    var i3 = $('<div>').attr('class', 'col-sm-10').append(s3);
    var r3 = $('<div>').attr('class', 'form-group').append(l3).append(i3);

    function updateFreq(){
        $('#freqOptions').remove();
        var v3 = $(this).val();
        var l4 = $('<label>').attr('class', 'col-sm-2 control-label').html('Options');
        var s4 = $('<select>').attr('name', 'options[]');
        var i4 = $('<div>').attr('class', 'col-sm-10').append(s4);
        var r4 = $('<div>').attr('class', 'form-group').append(l4).append(i4).attr('id', 'freqOptions');
        if (v3 == 'weekly') {
            var c41 = [['1', 'Monday'], ['2', 'Tuesday'], ['3', 'Wednesday'], ['4', 'Thursday'], ['5', 'Friday'], ['6', 'Saturday'], ['0', 'Sunday']];
            c41.forEach(function(val){
                s4.append($('<option>').attr('value', val[0]).html(val[1]));
            });
            s4.attr('multiple', 'multiple');
            s4.selectize();
            form.append(r4);
        } else if (v3 == 'monthly') {
            var c42 = Array.apply(null, Array(31)).map(function (_, i) {return ['' + (i + 1), '' + (i + 1)];});
            c42.forEach(function(val){
                s4.append($('<option>').attr('value', val[0]).html(val[1]));
            });
            s4.attr('class', 'form-control');
            form.append(r4);
        }
    }

    s3.change(updateFreq);

    var form = $('<form>').attr('class', 'form-horizontal').append(r1).append(r2).append(r3);
    var submitButton = $('<button>').html('Save').attr('class', 'btn btn-primary');
    var footer = $('<div>').append(submitButton);
    var modal = newModal('Schedule an email', form, footer);
    submitButton.click(function(){
        $.ajax({
            url: '{% url 'visualizations_schedule' visualization.id %}',
            data: form.serialize(),
            type: 'post',
            success: function(data){
                modal.modal('hide');
            },
            error: function(err) {
                console.log(err);
            }
        })
    });
    return false;
})
</script>
{% endblock javascripts %}