{% extends "base.html" %}

{% block title %}Admin - Users{% endblock title %}
{% block h1 %}Users{% endblock h1 %}

{% block container %}
<div class="well">
    <h2>{{ users|length }} users</h2>
    <div class="overflow-x">
        <table class="table">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Account</th>
                    <th>Active</th>
                    <th>Can invite</th>
                    <th>Can schedule</th>
                    <th>Staff</th>
                    <th>Admin</th>
                    <th>Requests</th>
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                <tr>
                    <td><a href="{% url 'admin_users_show' user.id %}">{{ user.email }}</a></td>
                    <td>{{ user.account.name }}</td>
                    <td>{{ user.is_active }}</td>
                    <td>{{ user.can_invite }}</td>
                    <td>{{ user.can_schedule }}</td>
                    <td>{{ user.is_staff }}</td>
                    <td>{{ user.is_admin }}</td>
                    <td>{{ user.requests_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock container %}