{% extends "base.html" %}

{% load l10n %}

{% block title %}Admin | Summary{% endblock title %}
{% block h1 %}Administration{% endblock h1 %}

{% block container %}
<div class="row">
    <div class="col-md-6">
        <div class="well">
            <h2>Yesterday top users</h2>
            <div class="overflow-x">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in yesterday_top_users %}
                        <tr>
                            <td>{{ user.0 }}</td>
                            <td>{{ user.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="well">
            <h2>Today top users</h2>
            <div class="overflow-x">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Email</th>
                            <th>Requests</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in today_top_users %}
                        <tr>
                            <td>{{ user.0 }}</td>
                            <td>{{ user.1 }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="well">
            <h2>Jobs</h2>
            <div id="container_reports"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="well">
            <h2>Visualizations</h2>
            <div id="container_visualizations"></div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-12 col-md-12 col-sm-12">
        <div class="well">
            <h2>Exports</h2>
            <div id="container_exports"></div>
        </div>
    </div>
</div>
{% endblock container %}

{% block javascripts %}
{{ block.super }}
<script>
google.load('visualization', '1.0', {'packages':['corechart']});
google.setOnLoadCallback(function(){
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Jobs');
    data.addColumn('number', 'Requests');
    data.addRows([
        {% for row in jobs %}
        [new Date('{{ row.0|date:'Y-m-d' }}'), {{ row.1|unlocalize }}, {{ row.2|unlocalize }}],
        {% endfor %}
    ]);
    new google.visualization.ColumnChart(document.getElementById('container_reports')).draw(data, { width: '100%', height: 400 });
    var data = new google.visualization.DataTable();
    data.addColumn('date', 'Date');
    data.addColumn('number', 'Exports');
    data.addColumn('number', 'Requests');
    data.addRows([
        {% for row in jobs %}
        [new Date('{{ row.0|date:'Y-m-d' }}'), {{ row.3|unlocalize }}, {{ row.4|unlocalize }}],
        {% endfor %}
    ]);
    new google.visualization.ColumnChart(document.getElementById('container_exports')).draw(data, { width: '100%', height: 400 });
    var dataVisualizations = new google.visualization.DataTable();
    dataVisualizations.addColumn('date', 'Date');
    dataVisualizations.addColumn('number', 'New visualizations');
    dataVisualizations.addRows([
        {% for row in visualizations %}
        [new Date('{{ row.0|date:'Y-m-d' }}'), {{ row.1|unlocalize }}],
        {% endfor %}
    ]);
    new google.visualization.ColumnChart(document.getElementById('container_visualizations')).draw(dataVisualizations, { width: '100%', height: 400 });
});
</script>
{% endblock %}