{% extends "base.html" %}

{% block title %}Add visualization{% endblock title %}
{% block h1 %}Add visualization{% endblock h1 %}

{% block breadcrumbs_nav %}
<ol class="breadcrumb">
    <li><a href="{% url 'dashboards_index' %}">Dashboards</a></li>
    <li><a href="{% url 'dashboards_show' dashboard.id %}">{{ dashboard.name }}</a></li>
    <li class="active">Add visualization</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
<div class="well">
    <h2>Add visualization</h2>
    {% include "dashboards/_form_visualization.html" %}
</div>
{% endblock container %}