{% extends "base.html" %}

{% block title %}Edit dashboard{% endblock title %}
{% block h1 %}Edit {{ dashboard.name }}{% endblock h1 %}

{% block breadcrumbs_nav %}
<ol class="breadcrumb">
    <li><a href="{% url 'dashboards_index' %}">Dashboards</a></li>
    <li><a href="{% url 'dashboards_play' dashboard.slug %}">{{ dashboard.name }}</a></li>
    <li class="active">Edit</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block container %}
<div class="well">
    <h2>Edit dashboard</h2>
    {% include "dashboards/_form.html" %}
</div>
{% endblock container %}