{% extends "base.html" %}

{% block stylesheets %}
{{ block.super }}
<style>
.well.chart {
    height: 500px;
    position: relative;
}
.spinner {
    display: none;
}
.wait .spinner {
    display: block;
    margin: 220px auto;
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center;
    -webkit-animation: sk-rotate 2.0s infinite linear;
    animation: sk-rotate 2.0s infinite linear;
}

.wait .spinner .dot1, .dot2 {
    width: 60%;
    height: 60%;
    display: inline-block;
    position: absolute;
    top: 0;
    background-color: #333;
    border-radius: 100%;
    -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
    animation: sk-bounce 2.0s infinite ease-in-out;
}

.wait .spinner .dot2 {
    top: auto;
    bottom: 0;
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

@-webkit-keyframes sk-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes sk-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes sk-bounce {
    0%, 100% { -webkit-transform: scale(0.0) }
    50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
    0%, 100% { 
        transform: scale(0.0);
        -webkit-transform: scale(0.0);
    } 50% { 
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }
}
</style>
{% endblock stylesheets %}

{% block title %}Yesterday highlights{% endblock title %}
{% block h1 %}Yesterday highlights{% endblock h1 %}

{% block container %}
<div class="row">
    {% for v in all_visualizations %}
    <div class="col-md-6">
        <div class="well wait chart" id="w_{{ v.id }}">
            <div class="pull-right">
                <i class="material-icons">more_vert</i>
            </div>
            <h2>{{ v.name }}</h2>
            <div id="v_{{ v.id }}"></div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock container %}

{% block javascripts %}
{{ block.super }}
<script>
$('.chart').prepend($('<div>').attr('class', 'spinner').append($('<div>').attr('class', 'dot1')).append($('<div>').attr('class', 'dot2')))
google.load('visualization', '1');
function buildDataTable(s3URL, callback){
    $.ajax({
        url: s3URL,
        success: function(data){
            var dataTable = new google.visualization.DataTable();
            data.schema.forEach(function(col){
                var type = col.type;
                var newType;
                if (type == 'INTEGER' || type == 'FLOAT') newType = 'number';
                else if (type == 'STRING') newType = 'string';
                else if (type == 'BOOLEAN') newType = 'boolean';
                else if (type == 'DATE') newType = 'date';
                dataTable.addColumn(newType, col.name);
            });
            dataTable.addRows(data.rows);
            callback(dataTable);
        }
    });
}
function drawVisualization() {
    {% for v in all_visualizations %}
    $.ajax({
        url: '{% url 'visualizations_execute' v.id %}',
        success: function(data){
            buildDataTable(data.url, function(dataTable){
                google.visualization.drawChart({
                    containerId: 'v_{{ v.id }}',
                    dataTable: dataTable,
                    chartType: '{{ v.graph.chart_type }}',
                    options: { height: 400, width: '100%' }
                });
                $('#w_{{ v.id }}').removeClass('wait');
            });
        }
    });
    {% endfor %}
}
google.setOnLoadCallback(drawVisualization);
</script>
{% endblock javascripts %}