{% extends "base.html" %}

{% load pipeline %}

{% block stylesheets %}
{{ block.super }}
{% stylesheet 'dashboards_play' %}
{% endblock stylesheets %}

{% block title %}Dashboard {{ dashboard.name }}{% endblock title %}
{% block h1 %}{{ dashboard.name }}{% endblock h1 %}

{% block breadcrumbs_nav %}
<div class="control pull-right">
    <div class="btn-group">
        <button type="button" class="btn-control dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="material-icons">more_horiz</i>
        </button>
        <ul class="dropdown-menu dropdown-menu-right">
            {% if request.user.is_staff %}
            <li><a href="{% url 'dashboards_edit' dashboard.id %}">Edit</a></li>
            <li><a href="{% url 'dashboards_visualizations_new' dashboard.id %}">Add a visualization</a></li>
            {% if dashboard_entities|length > 1 %}
            <li><a href="{% url 'dashboards_sort' dashboard.id %}">Sort</a></li>
            <li><a href="{% url 'dashboards_export' dashboard.id %}">Export</a></li>
            {% endif %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'dashboards_remove' dashboard.id %}">Delete</a></li>
            <li><a href="{% url 'dashboards_hard_remove' dashboard.id %}">Delete with visualizations</a></li>
            <li role="separator" class="divider"></li>
            {% endif %}
            {% if request.user in dashboard.star_users.all %}
            <li><a href="{% url 'dashboards_unstar' dashboard.id %}">Unstar</a></li>
            {% else %}
            <li><a href="{% url 'dashboards_star' dashboard.id %}">Star</a></li>
            {% endif %}
            {% if request.user.can_share %}
            <li role="separator" class="divider"></li>
            <li><a href="{% url 'dashboards_share' dashboard.id %}" id="shareDashboard" data-submit="{% url 'anonymous_update_shared_dashboard' %}">Share</a></li> 
            {% endif %}
        </ul>
    </div>
</div>
<ol class="breadcrumb">
    <li><a href="{% url 'dashboards_index' %}">Dashboards</a></li>
    <li class="active">{{ dashboard.name }}</li>
</ol>
{% endblock breadcrumbs_nav %}

{% block header %}
{{ block.super }}
<div class="star visible-md visible-lg">
    {% if request.user in dashboard.star_users.all %}
    <a href="{% url 'dashboards_unstar' dashboard.id %}">
        <i class="material-icons">star</i>
        <i class="material-icons hover">star_border</i>
    </a>
    {% else %}
    <a href="{% url 'dashboards_star' dashboard.id %}">
        <i class="material-icons">star_border</i>
        <i class="material-icons hover">star</i>
    </a>
    {% endif %}
</div>
{% endblock header %}

{% block container %}
{% include "dashboards/_play_row.html" %}
{% endblock container %}

{% block javascripts %}
{{ block.super }}
{% include "dashboards/_play_js.html" %}
{% javascript 'dashboards_play' %}
<script>

</script>
{% endblock javascripts %}