{% extends "base.html" %}

{% block title %}My dashboards{% endblock title %}
{% block h1 %}My dashboards{% endblock h1 %}

{% block container %}
{% if last_dashboards|length > 0 %}
<h2><i class="material-icons">dashboard</i> Last dashboards</h2>
<div class="row resize">
    {% for dashboard in last_dashboards %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        {% include "dashboards/_card.html" %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% if stars|length > 0 %}
<h2><i class="material-icons">grade</i> Stars</h2>
<div class="row resize">
    {% for dashboard in stars %}
    <div class="col-lg-3 col-md-4 col-sm-6">
        {% include "dashboards/_card.html" %}
    </div>
    {% endfor %}
</div>
{% endif %}
{% endblock container %}