{% extends "base.html" %}

{% load pipeline %}

{% block title %}Bummer!{% endblock title %}
{% block h1 %}Wrong street!{% endblock h1 %}

{% block stylesheets %}
{{ block.super }}
{% stylesheet 'error' %}
{% endblock stylesheets %}

{% block container %}
<div class="error">
    <div class="error-icon">
        <i class="fa fa-map-o"></i>
    </div>
    <div class="error-message">
        <div class="title">Bummer!</div>
        <div class="help">Are you lost?</div>
        <div class="help2">what you're looking for does not exist...</div>
    </div>
</div>
{% endblock container %}